--min-version 0.60.0
--swift-version 5.9
--exclude .build
--exclude build
--exclude DerivedData

--indent 4
--tab-width 4
--smart-tabs enabled
--indent-case false

--linebreaks lf
--max-width 120
--wrap-arguments before-first
--wrap-parameters before-first
--wrap-collections before-first
--closing-paren same-line
--wrap-return-type preserve

--operator-func spaced
--nospaceoperators ...,..<
--ranges spaced

--allman false
--elseposition same-line
--guardelse same-line

--semicolons never
--stripunusedargs closure-only

--self remove
--redundanttype inferred
--import-grouping testable-last
--disable wrapMultilineStatementBraces

--enable blankLineAfterImports
--enable blankLinesBetweenImports
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable emptyBraces
--enable indent
--enable leadingDelimiters
--enable redundantBreak
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantType
--enable redundantVoidReturnType
--enable semicolons
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable unusedArguments
--enable void
