--min-version 0.60.0
--swift-version 5.9
--exclude .build
--exclude build
--exclude DerivedData

--indent 4
--tab-width 4
--smart-tabs enabled
--indent-case false

--linebreaks lf
--max-width 120
--wrap-arguments before-first
--wrap-parameters before-first
--wrap-collections before-first
--closing-paren same-line
--wrap-return-type preserve

--operator-func spaced
--nospaceoperators ...,..<
--ranges spaced

--allman false
--elseposition same-line
--guardelse same-line

--semicolons never
--stripunusedargs closure-only

--self remove
--self-required
--redundanttype inferred
--import-grouping testable-last

--rules blankLineAfterImports
--rules blankLinesBetweenImports
--rules consecutiveBlankLines
--rules consecutiveSpaces
--rules duplicateImports
--rules emptyBraces
--rules indent
--rules leadingDelimiters
--rules redundantBreak
--rules redundantNilInit
--rules redundantObjc
--rules redundantParens
--rules redundantPattern
--rules redundantRawValues
--rules redundantReturn
--rules redundantSelf
--rules redundantType
--rules redundantVoidReturnType
--rules semicolons
--rules spaceAroundBraces
--rules spaceAroundBrackets
--rules spaceAroundComments
--rules spaceAroundGenerics
--rules spaceAroundOperators
--rules spaceAroundParens
--rules spaceInsideBraces
--rules spaceInsideBrackets
--rules spaceInsideComments
--rules spaceInsideGenerics
--rules spaceInsideParens
--rules trailingClosures
--rules trailingCommas
--rules trailingSpace
--rules unusedArguments
--rules void
